body {
    background: #bdF9fd;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }
a { text-decoration: none; }

ul, li { margin: 0; padding: 0; }
li { list-style: none; }





/*------------------------------------*\
    CARD
\*------------------------------------*/

.card {
    background: #fff;
    display: flex;
    margin: 50px auto;
    width: 880px;
}





/*------------------------------------*\
    ASIDE
\*------------------------------------*/

.aside {
    background: url("../img/background.jpg") center no-repeat;
    background-size: cover; 
    color: #fff;    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    position: relative;
}

.aside__mask {
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    position: absolute;
}

.aside__container {
    z-index: 1;
}

.aside__title {
    font-size: 1.6em;
}

.aside__text {
    font-size: .9em;
    font-weight: 500;
    margin: 15px 0;
}

.aside__link {
    background: rgba(34, 214, 175, 0.6);
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: .9em;
    font-weight: 700;
    border-radius: 30px;
    padding: 12px 20px;
}

.aside__link:hover {
    background: rgba(34, 214, 175, 1);
    transition: .4s;
}

.aside__link-image {
    margin-right: 12px;
}





/*------------------------------------*\
    ARTICLES
\*------------------------------------*/

.articles {
    display: flex;
    flex-direction: column;
    padding: 35px;
    width: 55%;
}

.articles__header {
    display: flex;
    justify-content: space-between;
}

.articles__title {
    font-size: 1.6em;
    font-weight: 500;
}

    /* MENU */

    .articles__year-menu {
        margin: 30px 0;
    }

    .menu {
        display: flex;
        overflow: auto;
    }

    .menu__item {
        font-size: 1.2em;
        font-weight: 400;        
    }

    .menu__item .menu__link {
        opacity: .3;
    }

    .menu__item--selected .menu__link {
        opacity: 1;
    }

    .menu__item:not(:last-child) {
        margin-right: 1em;
    }

    .menu__link {
        color: #000;
    }

    .menu__link:hover {
        opacity: 1;
        transition: .4s;
    }





/*------------------------------------*\
    ARTICLE
\*------------------------------------*/

.articles__list {
    display: flex;
    flex-direction: column;
}

.article {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.article:first-child {
    margin-top: 0;
}

.article:last-child {
    margin-bottom: 0;
}

.article__icon {
    width: 2em;
}

.article__icon--circle {
    border-radius: 50%;
}

.article__title {
    color: #393939;
    font-size: .95em;
    font-weight: 400;
    margin: 0 20px;
    max-width: 300px;
}

.article__time {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.article__day {
    font-size: 2em;
    font-weight: 300;
}

.article__month-year {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

.article__month {
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase;
}

.article__year {
    font-size: .8em;
}