body {
    background-color: #e98689;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li { margin: 0; padding: 0; }
li { list-style: none; }


.container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    margin-bottom: 50px;
}

.header__description {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 0;
    max-width: 600px;
    line-height: 1.5;
}





/*------------------------------------*\
  #MENU
\*------------------------------------*/

.menu {
    display: flex;
    flex-direction: row;
}

.menu__item:not(:last-child) {
    margin-right: 60px;
}

.menu__link {
    color: #f4b6b7;
    font-size: 52px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__link--selected {
    color: #fff;
}

.menu__link:hover:not(.menu__link--selected)  {
    color: #f5c5c6;
}





/*------------------------------------*\
  #INTERFACE
\*------------------------------------*/

.interface {
    position: relative;
}




/*------------------------------------*\
  #SETTING
\*------------------------------------*/

.setting-list {
    display: flex;
    flex-direction: row;
    position: relative;
}

.setting {
    background: #413e3f;
    padding: 100px 50px;
    flex-grow: 1;
}

.setting__name {
    color: #db8c88;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.setting__value {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.setting--temperature {
    background: #383637; 
}

.setting--load {
    background: #252324; 
}





/*------------------------------------*\
  #BUTTON
\*------------------------------------*/

.button {
    border: 0;
    outline: none;
    cursor: pointer;
}

.button__icon {
    font-size: 19px;
}

.button--command {
    background: #fff;
    opacity: .5;
    width:  80px;
    height: 80px;
}

.button--command:hover {
    opacity: .7;
    transition: .3s;
}

.button--start {
    background: #1a1a1a;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    min-width: 230px;
    padding: 20px 0;
    position: absolute;
    text-transform: uppercase;
    bottom: -30px;
    left: 10px;
    transition: .3s;
}

.button--start:hover {
    transform: translateY(-5px);
}

.button--back {
    position: absolute;
    left: -80px;
}

.button--next {
    position: absolute;
    right: -80px;
}