.freedom-section
    background: url('../img/watches.jpg') no-repeat
    background-position: right -35% center
    height: 90vh
    background-size: contain 
    border-bottom: 1px solid #dedede

    & .section__content 
        margin-top: -80px