.page-header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 40px 0 20px

.page-header__brand-image 
    width: 25px

.menu
    display: flex
    flex-direction: row
    align-items: center
    

    &__item
        margin-left: 30px

    &__link
    &__input
        color: #989898
        display: block
        font-size: 13px
        font-weight: 500
        letter-spacing: .5px
        padding: 5px 0

    &__input
        border: 0
        border-bottom: 1px solid #989898   
        background: transparent
        color: #000
               
        &:focus            
            opacity: 1
            border-bottom-color: #000




       