body 
    font-family 'Roboto', sans-serif

.container
    width 920px
    margin 0 auto
    padding: 45px 0

@import 'header.styl'

@import 'section.styl'
@import 'blockquote.styl'
@import 'button.styl'
@import 'article-list.styl'
@import 'square-line.styl'

@import 'freedom-section.styl'
@import 'health-section.styl'