body {
    background: #f1f4f8;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }
a { text-decoration: none; }

ul, li { margin: 0; padding: 0; }
li { list-style: none; }





/*------------------------------------*\
    CARD
\*------------------------------------*/

.card {
    border: 8px solid #242424;
    box-shadow: 0 5px 20px rgba(0,0,0,.4);
    border-radius: 30px;
    margin: 50px auto;
    overflow: hidden; 
    height: 520px;
    width: 300px;
}

    /* NOTCH */

    .notch {
        background: #242424;
        border-radius: 0 0 10px 10px;
        margin: 0 auto;
        height: 20px;
        width: 50%;
        position: relative;
    }

    .notch:before,
    .notch:after {
        display: block;
        content: "";
        width: 3px;
        position: absolute;
    }

    .notch:before {
        border-right: 5px solid #242424;
        border-bottom: 4px solid transparent;
        left: -8px;
    }

    .notch:after {
        border-left: 5px solid #242424;
        border-bottom: 4px solid transparent;
        right: -8px;
    }


.card__header {
    background: #3488ED;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    padding: 30px 0 0;
    position: relative;
    z-index: -1;
}

.card__header:after {
    display: block;
    content: "";
    border-right: 300px solid #3488ED;
    border-bottom: 150px solid transparent;    
    position: absolute;
    top: 100%;
}

.card__title {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

.card__image {
    max-width: 100%;
    padding: 20px 15px 0;
}





/*------------------------------------*\
    SETTINGS
\*------------------------------------*/

.card__settings {
    padding: 20px 12px;
}

.settings-item {
    display: flex;
    align-items: center;
}


.settings-item:not(:last-child) {
    margin-bottom: 25px;
} 

.settings-item__proper {
    margin: 0 15px;
}

.settings-item__proper-name {
    font-size: .9em;
}

.settings-item__proper-description {
    color: #a8a8a8;
    font-size: .8em;
    font-weight: 500;
}

.settings-item__switch  {
    margin-left: auto;
}




/*------------------------------------*\
    SWITCH
\*------------------------------------*/

.switch__input {
    position: absolute;
    display: none;
    visibility: hidden;
}

.switch__input + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch__shadow + label {
    padding: 0px;
    width: 55px;
    height: 30px;
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 60px;
}

.switch__shadow + label:before,
.switch__shadow + label:after {
    display: block;
    position: absolute;
    content: "";
}

.switch__shadow + label:before {
    top: 0px;   
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #fff;
    border-radius: 60px;
    transition: all .4s;
}

.switch__shadow + label:after {
    width: 42%;
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 100%;
    transition: all .4s;
    top: 2px;   
    bottom: 2px;
    left: 2px;
    right: 2px;
}

.switch__shadow:checked + label:before {
    background: #3488ED;
}

.switch__shadow:checked + label:after {
    border-color: transparent;
    transform: translateX(98%);
}
