body {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 920px;
  margin: 0 auto;
}
.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 20px 0;
}
.page-header__brand-image {
  width: 25px;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu__item {
  margin-left: 30px;
}
.menu__link,
.menu__input {
  color: #989898;
  display: block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 5px 0;
}
.menu__input {
  border: 0;
  border-bottom: 1px solid #989898;
  background: transparent;
  color: #000;
}
.menu__input:focus {
  opacity: 1;
  border-bottom-color: #000;
}
